/node_modules
/storage/*.key
/vendor
/public/uploads
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json
composer.lock
/.cache
/.config
/.gnupg
/.local
composer.lock
/public/public/uploads/compaign/.ckfinder/cache